header {
  background: #d90429;
  padding: 15px 0;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover,
.nav-links a.active {
  text-decoration: underline;
}
.user-status {
  color: #ffe5e5;
  font-size: 14px;
  font-weight: 500;
}
